{
  "mode": {
    "value": "standby",
    "type": "string"
  },
  "remaining_waypoints_list": {
    "type": "array",
    "value": []
  },
  "navigating_waypoints": {
    "type": "object",
    "value": {}
  },
  "current_routes": {
    "type": "array",
    "value": []
  },
  "order": {
    "type": "object",
    "value": {}
  },
  "current_mode": {
    "type": "string",
    "value": "standby",
    "metadata": {}
  },
  "current_state": {
    "type": "string",
    "value": "standby",
    "metadata": {}
  },
  "caller": {
    "type": "string",
    "value": " ",
    "metadata": {}
  },
  "last_processed_time": {
    "type": "ISO8601",
    "value": "1970-01-01T09:00:00+09:00",
    "metadata": {}
  }
}
