{
  "send_cmd":
  {
    "time": "{{ ansible_date_time.iso8601 }}",
    "cmd": "navi",
    "waypoints":
    [
      {
        "point":
        {
          "x":-0.1,
          "y":0.5,
          "z":0
        },
        "angle":{
          "roll":0,
          "pitch":0,
          "yaw":-1.57
        }
      }
    ]
  }
}
