{
  "id": "{{ _place.id }}",
  "type": "place",
  "TimeInstant": {
    "type": "ISO8601",
    "value": "{{ date.iso8601 }}"
  },
  "name": {
    "type": "string",
    "value": "{{ _place.name }}"
  },
  "pose": {
    "type": "object",
    "value": {{ _place.pose }}
  }
}
