{
  "subject": {
    "entities": [{
      "idPattern": "{{ fiware.delivery_robot.id_prefix }}.*",
      "type": "{{ fiware.delivery_robot.type }}"
    }],
    "condition": {
      "attrs": ["current_mode", "current_state", "last_processed_time"]
    }
  },
  "notification": {
    "http": {
      "url": "http://cygnus-mongo:5050/notify"
    },
    "attrs": ["current_mode", "current_state", "last_processed_time"],
    "attrsFormat": "legacy"
  }
}
