{
  "subject": {
    "entities": [{
      "idPattern": "{{ fiware.delivery_robot.id_prefix }}.*",
      "type": "{{ fiware.delivery_robot.type }}"
    }],
    "condition": {
      "attrs": ["current_routes", "navigating_waypoints", "remaining_waypoints_list", "order"]
    }
  },
  "notification": {
    "http": {
      "url": "http://cygnus-mongo:5050/notify"
    },
    "attrs": ["current_routes", "navigating_waypoints", "remaining_waypoints_list", "order"],
    "attrsFormat": "legacy"
  }
}
