{
  "subject": {
    "entities": [{
      "idPattern": "{{ fiware.robot_ui.id_prefix }}.*",
      "type": "{{ fiware.robot_ui.type }}"
    }],
    "condition": {
      "attrs": {{ _attrs }}
    }
  },
  "notification": {
    "http": {
      "url": "http://cygnus-mongo:5050/notify"
    },
    "attrs": {{ _attrs }},
    "attrsFormat": "legacy"
  }
}
