{
  "services": [
    {
      "apikey": "{{ fiware.delivery_robot.type }}",
      "cbroker": "http://orion:1026",
      "resource": "/iot/json",
      "entity_type": "{{ fiware.delivery_robot.type }}"
    }
  ]
}
