{
  "destination": {
    "name": "会議室1"
  },
  "updated": [
    {
      "prev_quantity": 5,
      "new_quantity": 4,
      "reservation": 1,
      "title": "美味しい天然水（2L）",
      "place": "倉庫1"
    }
  ],
  "caller": "zaico-extensions"
}
